.box{
    width: 100%;
    padding: 10px;
}

.lupa{
    width: 30px;
    height: 30px;
}

.search {
    height: 31px;
    border: none;
    border-bottom-color: gray;
    border-bottom: 1px solid ;
}

#searchInput{
    width: 230px;
    height: 30px;
    font-size: x-large;
    padding-left: 5px;
    outline: 0;
}

.menu{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menuSearch{
    margin: 50px;
    display: flex;
    align-items: center;
    
}


.imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.perfil {
    display: flex;
    width: 100%;
    justify-content: center;
}

.imgPerfil{
    display: flex;
    flex-direction: column;
    
}

.imgPerfil p{
    margin-left: 50px;
}

.informacoes {
    position: absolute;
    font-size: xx-large;
    margin-top: 10px;
    right: 80px;
}

.grupos {
    height: 300px;
    width: 200px;
    margin-top: 100px;
}

.grupo{
    height: 45px;
    margin: 5px;
    display: inline-block;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(12, 9, 5);
}

.publicacoes-perfil{
    width: 100%;
    display: flex;
    justify-content: center;
}