
.container{
    width: 250px;
    right: 100%;
    padding: 10px;
    background-color: blue;
    color: bisque;
}


a{
    margin: 60px 30px;
    display: block;
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}