.containerLogin{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: black;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/909/209/82/cityscapes-night-bridges-1366x768-architecture-bridges-hd-art-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-size: cover;

}

.formLogin{
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 40px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    border-radius: 3%;
}

.inputLogin, .buttonLogin{
    width: 260px;
    height: 60px;
    margin: 15px;
}

.inputLogin{
    border: none;
    border-bottom: 1px solid;
    font-size: 20px;
}

.buttonLogin{
    color: #fafafa;
    font-size: 20px;
    background-color: blue;
}

.error{
    color: red;
    opacity: 0.9;
}

#createAccount-p{
    color: black;
    font-size: 15px;
    margin: 0;
    display: inline;
}


#createAccount-a{
    color: blue;
    font-size: 15px;
    margin: 0;
    display: inline;
}

