.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.publicacoes{
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.publicacao{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.autor{
  display: flex;
  flex-direction: row;
}


.autor img{
  display: inline;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 5px;
}
